// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #2781BA;
}

.wrapper {
	display: block;
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -20px auto;
	padding: 0px;
/*	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;	*/
}

.header {
	display: block;
	height: 5px;
	width: 960px;
	background: transparent;
}

.content {
	display: block;
	min-height: 658px;
	width: 900px;
	margin: 5px auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 5px #525252;
	-moz-box-shadow: 0px 0px 5px 5px #525252;
	-webkit-box-shadow: 0px 0px 5px 5px #525252;
}

.content > div#user {
	display: inline;
	float:right;
	margin: 7px 10px 0px 0px;
	color: #F0710A;
	font-size: 12px;
	font-weight: bold;
}

div#wel {
	padding: 10px;
	color: #525252;
}

div#welf {
	margin: 5px 0px;
	padding: 0px 10px 2px;
	color: #525252;
	line-height: 10px;
}

hr#welcome {
	color: #525252;
}

.leftnav {
	display: inline-block;
	width: 200px;
	height: 445px;
	margin: 0px 0px 10px 15px;
	border-right: 2px solid #525252;
}

.rightnav {
	display: inline-block;
	width: 640px;
	height: 445px;
	float: right;
	margin: 0px 10px 0px 0px;
	color: #525252;
	font-size: 12px;
	overflow-y: scroll;
}

.nav {
	display: block;
	width: inherit;
	margin: auto;
	min-height: 420px;
	font-size: 12px;
}

td {
	font-weight: bold;
}

div.logo {
	width: 600px;
	height: 346px;
	margin: 1px auto;
	
}

div.main {
	width: 560px;
	margin: 30px auto 0px auto;
	font-size: 12px;
}

div.main p {
	text-indent: 25px;
	text-align: justify;
}

a {
	text-decoration:none;
	color:#1D66A3;
	cursor: pointer;
}

a:hover {
	color:#800000;
	text-decoration:none;
	cursor: pointer;
}

a:active {
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

.active {
	font-weight:bold;
	text-decoration:none;
}

ul, ul.menu {
	list-style:none;
	text-decoration:none;
	text-align:right;
/*	border-right:25px solid #F0EFDF;	*/
	border-right: 25px solid #FFFFFF;
	font-size: 14px;
}

ul.menu {
	display: inline;
	font-size: 14px;
	margin: 2px 0px 0px 10px;
}

ul.menu li {
	display: inline;
	margin: 1px 4px 1px 0px;
}

ul li {
	list-style:none;
}

ul li a {
	list-style:none;
	color:#2781BA
}

ol {
	font-size: 12px;
	color:#5B677A;
}

sup {
	font-size: 10px;
	color: #FF0000;
}

sup #error_explanation, #error_explanation ul, #error_explanation ul li {
	margin: 0px auto;
	font-size: 10px;
}

#notice {
	font-size: 12px;
	color: green;
}

#footer_push {
	display: block;
	width: 100%;
	height: 5px;
}

.footer {
	display: block;
	height: 5px;
	width: 960px;
	margin: auto;
	background: transparent;
}
